[user]
	email = #######@gmail.com
	name = Matthew Wraith

[credential]
	helper = cache

[core]
	autocrlf = input

[push]
	default = simple

[alias]
    co = checkout
    br = branch

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
